@charset "utf-8";
/* CSS Document */

.sb-share-social {
 margin:20px 0px 25px 0px;
 -webkit-font-smoothing:antialiased;
 font-size:12px;
}

.sprybirds-all-share-link, .sprybirds-share-link {
 font-family:Arial,Helvetica,freesans,sans-serif;
 color:#f5f5f5;
 font-size:1.1em;
 background-color:#A69FCE;
 padding:7px 10px;
 margin:0 1px;
 display:inline-block;
 border:0;	
 text-decoration:none!important;
 text-transform: uppercase;
 border-radius:4px;
 -moz-border-radius:4px;
 -ms-border-radius:4px;
 -o-border-radius:4px;
 -webkit-border-radius:4px;
 font-weight: bold;
}
.sprybirds-all-share-link:hover, .sprybirds-share-link:hover {
 color:#FFF;
 border-bottom:0!important;
}


.sb-share-sprybirds {
 background:#4a90dc;
}

.sb-share-sprybirds:hover,.sb-share-sprybirds:active {
 background:#00426B;
}
 
.sb-share-twitter {
 background:#55acee;
}
 
.sb-share-twitter:hover,.sb-share-witter:active {
 background:#279ebf;
}
 
.sb-share-facebook {
 background:#3B5997;
}
 
.sb-share-facebook:hover,.sb-share-facebook:active {
 background:#2d4372;
}
 
.sb-share-googleplus {
 background:#D64937;
}
 
.sb-share-googleplus:hover,.sb-share-googleplus:active {
 background:#b53525;
}
 
.sb-share-buffer {
 background:#444;
}
 
.sb-share-buffer:hover,.sb-share-buffer:active {
 background:#222;
}

@media only screen and (max-width:601px){
	.sprybirds-all-share-link, .sprybirds-share-link {
		margin:0 1px 5px 1px;
	}
}